/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run Anton-Bch/isoform-nf-core -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '7.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input     = "${projectDir}/tests/fixtures/samplesheet.csv"
    contrasts = "${projectDir}/tests/fixtures/contrasts.csv"

    // Reference files
    transcript_fasta = "${projectDir}/tests/fixtures/reference/transcripts.fa"
    genome_fasta     = "${projectDir}/tests/fixtures/reference/genome.fa"
    gtf              = "${projectDir}/tests/fixtures/reference/annotation.gtf"
}

process {
    withName: 'SALMON_INDEX' {
        ext.args = '-k 23'
    }
    withName: 'SALMON_QUANT' {
        ext.args = '--minAssignedFrags 1'
    }
}
